{% extends "base.html" %}
{% block title %}{{titulo}}{% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-6 bg-light offset-3 text-center">
            <h1 class="text-danger">{{titulo}}</h1>
            <p>Seguro que quieres cancelar la reserva:</p>
            <h3>{{reserva.nombre}} - {{reserva.cc}}</h3>
            <h2>{{reserva.vuelo.nombre}}</h2>
            <h3>{{reserva.vuelo.origen.nombre}} - {{reserva.vuelo.destino.nombre}}</h3>
            <h3>{{reserva.vuelo.hora_salida}} {{reserva.vuelo.fecha_salida}} - {{reserva.vuelo.hora_llegada}} {{reserva.vuelo.fecha_llegada}}</h3>
            <a class="btn btn-success" href="/flights/greservas/{{ user.id }}">Volver</a>
            <input name="Cancelar" type="submit" class="btn btn-danger" value="Cancelar reserva">
        </div>
    </div>
</form>
{% endblock content %}